.container-white{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

.left-nav-wrapper{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    border: black 2px;
    border-style: none solid;
    height: 100vh;
    width: 20%;
    box-shadow: grey 1px 2px 5px 1px;
    background-color: turquoise;
}

.nav-item {
    padding: 20px;
}

.nav-item h3{
    box-sizing: border-box;
    border: solid turquoise 1px;
    padding: 10px 20px;
    text-align: center;
    transition: border 250ms ease-in;
}

.nav-item h3:hover {
    box-sizing: border-box;
    border: solid black 1px;
}

.nav-btn {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    width: 80%;
    margin-left: 20%;
    border: black 2px;
    border-style: none solid;
    box-shadow: grey 1px 2px 5px 1px;
}

/* .content-wrapper h1 {
    text-align: center;
} */

.return-btn{
    background-color: black;
    color: white;
    width: 200px;
}

.metadata-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.metadata-labels{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

.metadata-labels h4{
    height: 30px;
    margin: 15px;
}

.metadata-info {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.metadata-info p {
    height: 30px;
    margin: 15px;
}

.featuregates-wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    box-shadow: 1px 1px 5px 0px;
}

.content-col-1{
    width: 75%;
    padding: 5px;
    /* border: black 2px;
    border-style: none solid; */
}

.content-col-2{
    width: 25%;
    padding: 5px;
}

.title-col-1{
    border: solid black 2px;
    padding: 5px;
}

.title-col-2{
    border: solid black 2px;
    padding: 5px;
}

.telemetry-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.telemetry-left-col {
    height: 100%;
    width: 49%;
    border: solid black 1px;
    box-shadow: black 1px 1px 5px 0px;
}

.telemetry-right-col {
    width: 49%;
    border: solid black 1px;
    box-shadow: black 1px 1px 5px 0px;
}

.telemetry-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: border 250ms ease-in;
}

.telemetry-item:hover {
    border: solid black 1px;
}

.telemetry-item-right {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    border: black 1px;
    border-style: solid none;
    /* justify-content: space-around; */
}

.telemetry-item-right p:nth-child(1) {
    width: 40%;
    margin-right: 20px;
    color: red;
}

.logs-container{
    width: 100%;
}

.logs-wrapper {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    /* min-height: 85vh; */
    box-shadow: black 2px 1px 5px 0px;
}

.logs-titles{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logs-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px black;
    border-style: solid none;
}

.logs-col-1 {
    width: 10%;
}

.logs-col-2 {
    width: 10%;
}

.logs-col-3 {
    width: 10%;
}

.logs-col-4 {
    width: 10%;
}

.logs-col-5 {
    width: 10%;
}

.logs-col-6 {
    width: 10%;
}

.logs-col-7 {
    width: 10%;
}

.logs-col-8 {
    width: 10%;
}

.crash-wrapper{
    border: solid black 1px;
    box-shadow: black 1px 2px 5px 0px;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.crash-titles{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.crash-item{
    padding: 5px;
    border: 1px black;
    border-style: solid none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.crash-col-1 {
    width: 70%;
}

.crash-col-2 {
    width: 30%;
}

.error-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid black 2px;
    box-shadow: 2px 1px 5px 0px black;
}

.error-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.error-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.error-col-1{
    width: 20%;
}

.error-col-1{
    width: 20%;
}